# macOS
.DS_Store

# VS Code
/.vscode/*
!/.vscode/settings.json
!/.vscode/tasks.json
!/.vscode/launch.json

# MCU Project: STM32
/MCU/.cache/
/MCU/.vscode/
/MCU/.mxproject
/MCU/build/
/MCU/compile_commands.json
/MCU/CMakeUserPresets.json
/MCU/mx.scratch/

# Python Project
/Python/.venv/
/Python/**/__pycache__/
/Python/.pytest_cache/
/Python/.ruff_cache/
/Python/.mypy_cache/
/Python/**/*.egg-info/
/Python/config.local.ini
/Python/config.local.toml
/Python/experiments/
/Python/captures/
/.pytest_cache/
/debug.log
/.ruff_cache/

# FPGA Project: Lattice Radiant
/FPGA/*
!/FPGA/HopWINS_UWBDO_FPGA.rdf
!/FPGA/HopWINS_UWBDO_FPGA1.sty
!/FPGA/source/
!/FPGA/source/**
!/FPGA/impl_1/
/FPGA/impl_1/*
!/FPGA/impl_1/HopWINS_UWBDO_FPGA_impl_1.bin

# Paper Project: Latex
/Paper/
