// Verilog netlist produced by program LSE :  version Radiant Software (64-bit) 2026.1.0.37.0
// Netlist written on Tue Jul 28 18:15:34 2026
// Source file index table: 
// Object locations will have the form @<file_index>(<first_ line>[<left_column>],<last_line>[<right_column>])
// file 0 "c:/users/zhang/onedrive/desktop/uwbdo/hopwins-uwbdo/fpga/source/impl_1/top.v"
// file 1 "d:/ice40/ice40k/ip/pmi/pmi_ice40up.v"
// file 2 "d:/ice40/ice40k/ip/pmi/pmi_ice40up.vhd"
// file 3 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc.v"
// file 4 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_distributed_ram.v"
// file 5 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_ecc.v"
// file 6 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_flag_and_cnts_logic.v"
// file 7 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_reg.v"
// file 8 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_gray_synchronizer.v"
// file 9 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden.v"
// file 10 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_prim.v"
// file 11 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_ctrl_logic.v"
// file 12 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_rd_output_logic.v"
// file 13 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_ring_counter.v"
// file 14 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_harden_wr_ctrl_logic.v"
// file 15 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_prim_gen.v"
// file 16 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_rd_ctrl_logic.v"
// file 17 "d:/ice40/ice40k/ip/lfmxo4/fifo_dc/rtl/lscc_lfmxo4_fifo_dc_wr_ctrl_logic.v"
// file 18 "d:/ice40/ice40k/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp.v"
// file 19 "d:/ice40/ice40k/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_behavioral.v"
// file 20 "d:/ice40/ice40k/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_functions.vh"
// file 21 "d:/ice40/ice40k/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_impl.v"
// file 22 "d:/ice40/ice40k/ip/lfmxo4/ram_dp/rtl/lscc_lfmxo4_ram_dp_lut_decode.v"
// file 23 "d:/ice40/ice40k/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_decoder.v"
// file 24 "d:/ice40/ice40k/ip/lfmxo4/ram_dq/rtl/hsiao_ecc_encoder.v"
// file 25 "d:/ice40/ice40k/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq.v"
// file 26 "d:/ice40/ice40k/ip/lfmxo4/ram_dq/rtl/lscc_lfmxo4_ram_dq_lut_decode.v"
// file 27 "d:/ice40/ice40k/ip/common/adder/rtl/lscc_adder.v"
// file 28 "d:/ice40/ice40k/ip/common/adder_subtractor/rtl/lscc_add_sub.v"
// file 29 "d:/ice40/ice40k/ip/common/complex_mult/rtl/lscc_complex_mult.v"
// file 30 "d:/ice40/ice40k/ip/common/counter/rtl/lscc_cntr.v"
// file 31 "d:/ice40/ice40k/ip/common/fifo/rtl/lscc_fifo.v"
// file 32 "d:/ice40/ice40k/ip/common/fifo_dc/rtl/lscc_fifo_dc.v"
// file 33 "d:/ice40/ice40k/ip/common/mult_accumulate/rtl/lscc_mult_accumulate.v"
// file 34 "d:/ice40/ice40k/ip/common/mult_add_sub/rtl/lscc_mult_add_sub.v"
// file 35 "d:/ice40/ice40k/ip/common/mult_add_sub_sum/rtl/lscc_mult_add_sub_sum.v"
// file 36 "d:/ice40/ice40k/ip/common/multiplier/rtl/lscc_multiplier.v"
// file 37 "d:/ice40/ice40k/ip/common/ram_dp/rtl/lscc_ram_dp.v"
// file 38 "d:/ice40/ice40k/ip/common/ram_dq/rtl/lscc_ram_dq.v"
// file 39 "d:/ice40/ice40k/ip/common/rom/rtl/lscc_rom.v"
// file 40 "d:/ice40/ice40k/ip/common/subtractor/rtl/lscc_subtractor.v"
// file 41 "d:/ice40/ice40k/ip/pmi/pmi_add.v"
// file 42 "d:/ice40/ice40k/ip/pmi/pmi_addsub.v"
// file 43 "d:/ice40/ice40k/ip/pmi/pmi_complex_mult.v"
// file 44 "d:/ice40/ice40k/ip/pmi/pmi_counter.v"
// file 45 "d:/ice40/ice40k/ip/pmi/pmi_dsp.v"
// file 46 "d:/ice40/ice40k/ip/pmi/pmi_fifo.v"
// file 47 "d:/ice40/ice40k/ip/pmi/pmi_fifo_dc.v"
// file 48 "d:/ice40/ice40k/ip/pmi/pmi_mac.v"
// file 49 "d:/ice40/ice40k/ip/pmi/pmi_mult.v"
// file 50 "d:/ice40/ice40k/ip/pmi/pmi_multaddsub.v"
// file 51 "d:/ice40/ice40k/ip/pmi/pmi_multaddsubsum.v"
// file 52 "d:/ice40/ice40k/ip/pmi/pmi_ram_dp.v"
// file 53 "d:/ice40/ice40k/ip/pmi/pmi_ram_dp_be.v"
// file 54 "d:/ice40/ice40k/ip/pmi/pmi_ram_dq.v"
// file 55 "d:/ice40/ice40k/ip/pmi/pmi_ram_dq_be.v"
// file 56 "d:/ice40/ice40k/ip/pmi/pmi_rom.v"
// file 57 "d:/ice40/ice40k/ip/pmi/pmi_sub.v"
// file 58 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/ccu2_b.v"
// file 59 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/fd1p3bz.v"
// file 60 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/fd1p3dz.v"
// file 61 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/fd1p3iz.v"
// file 62 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/fd1p3jz.v"
// file 63 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/hsosc.v"
// file 64 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/hsosc1p8v.v"
// file 65 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/ib.v"
// file 66 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/ifd1p3az.v"
// file 67 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/lsosc.v"
// file 68 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/lsosc1p8v.v"
// file 69 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/ob.v"
// file 70 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/obz_b.v"
// file 71 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/ofd1p3az.v"
// file 72 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/pdp4k.v"
// file 73 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/rgb.v"
// file 74 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/rgb1p8v.v"
// file 75 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/sp256k.v"
// file 76 "d:/ice40/ice40k/cae_library/simulation/verilog/ice40up/legacy.v"

//
// Verilog Description of module top
//

module top (input CLK_IN, input FPGA_EN, output CLK, output SYNC, output PPS);
    
    (* is_clock=1 *) wire GND_net;
    (* is_clock=1 *) wire CLK_IN_c;
    wire FPGA_EN_c;
    wire [25:0]pps_counter;
    wire [0:0]sync_counter;
    wire pps_reg;
    wire sync_reg;
    wire sync_done;
    wire clk_paddo;
    wire pps_paddo;
    wire sync_paddo;
    wire [1:0]enable_sync;
    wire enable;
    wire \g_clk_sdr.clk_toggle ;
    
    wire VCC_net, n8, n499, n483, n768, n481, n489, n479, n766, 
        n765, n485, n497, n1118, n495, n760, n724, n759, n816, 
        n730, n1115, n757, n370, \g_clk_sdr.clk_toggle_N_31 , n195, 
        n1091, n1088, n1085, n756, n477, n1079, n1094;
    wire [25:0]n109;
    
    wire n754, n1112, n493, n501, n487, n491, n948, n1097, n1082, 
        n1109, n1106, n748, n1103, n712, n1100, n711, n387;
    
    VHI i2 (.Z(VCC_net));
    FA2 pps_counter_55_add_4_21 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[19]), 
        .D0(n495), .CI0(n495), .A1(GND_net), .B1(GND_net), .C1(pps_counter[20]), 
        .D1(n1109), .CI1(n1109), .CO0(n1109), .CO1(n497), .S0(n109[19]), 
        .S1(n109[20]));
    defparam pps_counter_55_add_4_21.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_21.INIT1 = "0xc33c";
    IB FPGA_EN_pad (.I(FPGA_EN), .O(FPGA_EN_c));
    (* lut_function="(A (B (C))+!A (B))" *) LUT4 i220_3_lut (.A(sync_done), 
            .B(enable), .C(sync_counter[0]), .Z(n370));
    defparam i220_3_lut.INIT = "0xc4c4";
    FA2 pps_counter_55_add_4_11 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[9]), 
        .D0(n485), .CI0(n485), .A1(GND_net), .B1(GND_net), .C1(pps_counter[10]), 
        .D1(n1094), .CI1(n1094), .CO0(n1094), .CO1(n487), .S0(n109[9]), 
        .S1(n109[10]));
    defparam pps_counter_55_add_4_11.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_11.INIT1 = "0xc33c";
    (* lut_function="(A (B))" *) LUT4 i1_2_lut (.A(pps_counter[16]), .B(pps_counter[4]), 
            .Z(n748));
    defparam i1_2_lut.INIT = "0x8888";
    (* lut_function="(A (B (C (D))))" *) LUT4 i1_4_lut (.A(pps_counter[11]), 
            .B(pps_counter[22]), .C(pps_counter[14]), .D(pps_counter[10]), 
            .Z(n756));
    defparam i1_4_lut.INIT = "0x8000";
    (* syn_instantiated=1 *) IOL_B \g_clk_sdr.clk_iol  (.PADDI(GND_net), .DO1(GND_net), 
            .DO0(\g_clk_sdr.clk_toggle ), .CE(VCC_net), .IOLTO(GND_net), 
            .HOLD(GND_net), .INCLK(GND_net), .OUTCLK(CLK_IN_c), .PADDO(clk_paddo));
    defparam \g_clk_sdr.clk_iol .LATCHIN = "NONE_REG";
    defparam \g_clk_sdr.clk_iol .DDROUT = "NO";
    FA2 pps_counter_55_add_4_15 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[13]), 
        .D0(n489), .CI0(n489), .A1(GND_net), .B1(GND_net), .C1(pps_counter[14]), 
        .D1(n1100), .CI1(n1100), .CO0(n1100), .CO1(n491), .S0(n109[13]), 
        .S1(n109[14]));
    defparam pps_counter_55_add_4_15.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_15.INIT1 = "0xc33c";
    FA2 pps_counter_55_add_4_9 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[7]), 
        .D0(n483), .CI0(n483), .A1(GND_net), .B1(GND_net), .C1(pps_counter[8]), 
        .D1(n1091), .CI1(n1091), .CO0(n1091), .CO1(n485), .S0(n109[7]), 
        .S1(n109[8]));
    defparam pps_counter_55_add_4_9.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_9.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i0 (.D(n109[0]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[0]));
    defparam pps_counter_55__i0.REGSET = "RESET";
    defparam pps_counter_55__i0.SRMODE = "CE_OVER_LSR";
    FA2 pps_counter_55_add_4_7 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[5]), 
        .D0(n481), .CI0(n481), .A1(GND_net), .B1(GND_net), .C1(pps_counter[6]), 
        .D1(n1088), .CI1(n1088), .CO0(n1088), .CO1(n483), .S0(n109[5]), 
        .S1(n109[6]));
    defparam pps_counter_55_add_4_7.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_7.INIT1 = "0xc33c";
    FA2 pps_counter_55_add_4_5 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[3]), 
        .D0(n479), .CI0(n479), .A1(GND_net), .B1(GND_net), .C1(pps_counter[4]), 
        .D1(n1085), .CI1(n1085), .CO0(n1085), .CO1(n481), .S0(n109[3]), 
        .S1(n109[4]));
    defparam pps_counter_55_add_4_5.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_5.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i25 (.D(n109[25]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[25]));
    defparam pps_counter_55__i25.REGSET = "RESET";
    defparam pps_counter_55__i25.SRMODE = "CE_OVER_LSR";
    IOL_B enable_sync_i0 (.PADDI(FPGA_EN_c), .DO1(GND_net), .DO0(GND_net), 
          .CE(VCC_net), .IOLTO(GND_net), .HOLD(GND_net), .INCLK(CLK_IN_c), 
          .OUTCLK(GND_net), .DI0(enable_sync[0]));
    defparam enable_sync_i0.LATCHIN = "NONE_REG";
    defparam enable_sync_i0.DDROUT = "NO";
    (* syn_instantiated=1 *) OB clk_ob (.I(clk_paddo), .O(CLK));
    (* syn_instantiated=1 *) IOL_B pps_iol (.PADDI(GND_net), .DO1(GND_net), 
            .DO0(pps_reg), .CE(VCC_net), .IOLTO(GND_net), .HOLD(GND_net), 
            .INCLK(GND_net), .OUTCLK(CLK_IN_c), .PADDO(pps_paddo));
    defparam pps_iol.LATCHIN = "NONE_REG";
    defparam pps_iol.DDROUT = "NO";
    (* syn_instantiated=1 *) OB pps_ob (.I(pps_paddo), .O(PPS));
    (* syn_instantiated=1 *) IOL_B sync_iol (.PADDI(GND_net), .DO1(GND_net), 
            .DO0(sync_reg), .CE(VCC_net), .IOLTO(GND_net), .HOLD(GND_net), 
            .INCLK(GND_net), .OUTCLK(CLK_IN_c), .PADDO(sync_paddo));
    defparam sync_iol.LATCHIN = "NONE_REG";
    defparam sync_iol.DDROUT = "NO";
    (* syn_instantiated=1 *) OB sync_ob (.I(sync_paddo), .O(SYNC));
    (* lut_function="(A+(B (C+(D))+!B (C)))" *) LUT4 i1_4_lut_adj_1 (.A(pps_counter[15]), 
            .B(pps_counter[12]), .C(pps_counter[14]), .D(pps_counter[13]), 
            .Z(n724));
    defparam i1_4_lut_adj_1.INIT = "0xfefa";
    FA2 pps_counter_55_add_4_3 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[1]), 
        .D0(n477), .CI0(n477), .A1(GND_net), .B1(GND_net), .C1(pps_counter[2]), 
        .D1(n1082), .CI1(n1082), .CO0(n1082), .CO1(n479), .S0(n109[1]), 
        .S1(n109[2]));
    defparam pps_counter_55_add_4_3.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_3.INIT1 = "0xc33c";
    (* lut_function="(A (B+(C))+!A (B))" *) LUT4 i237_3_lut (.A(n724), .B(pps_counter[17]), 
            .C(pps_counter[16]), .Z(n387));
    defparam i237_3_lut.INIT = "0xecec";
    (* lut_function="(A (B (C)))" *) LUT4 i1_3_lut (.A(pps_counter[7]), .B(pps_counter[3]), 
            .C(pps_counter[9]), .Z(n754));
    defparam i1_3_lut.INIT = "0x8080";
    (* lut_function="(A (B (C (D))))" *) LUT4 i1_4_lut_adj_2 (.A(pps_counter[6]), 
            .B(pps_counter[5]), .C(pps_counter[0]), .D(pps_counter[13]), 
            .Z(n757));
    defparam i1_4_lut_adj_2.INIT = "0x8000";
    (* lut_function="(!(A (B (C))))" *) LUT4 i674_3_lut (.A(pps_counter[20]), 
            .B(pps_counter[22]), .C(pps_counter[21]), .Z(n948));
    defparam i674_3_lut.INIT = "0x7f7f";
    (* lut_function="(!(A+(B+(C))))" *) LUT4 i589_3_lut (.A(pps_counter[12]), 
            .B(pps_counter[18]), .C(pps_counter[21]), .Z(n765));
    defparam i589_3_lut.INIT = "0x0101";
    (* lut_function="(A+!(B+(C (D))))" *) LUT4 i676_4_lut (.A(n948), .B(pps_counter[19]), 
            .C(n387), .D(pps_counter[18]), .Z(n730));
    defparam i676_4_lut.INIT = "0xabbb";
    (* lut_function="(!(A+(B+(C+!(D)))))" *) LUT4 i1_3_lut_4_lut (.A(pps_counter[23]), 
            .B(pps_counter[24]), .C(pps_counter[17]), .D(pps_counter[1]), 
            .Z(n766));
    defparam i1_3_lut_4_lut.INIT = "0x0100";
    (* lut_function="(!(A))" *) LUT4 i8_1_lut (.A(enable), .Z(n8));
    defparam i8_1_lut.INIT = "0x5555";
    (* lut_function="(A (B (C (D))))" *) LUT4 i1_4_lut_adj_3 (.A(pps_counter[25]), 
            .B(n756), .C(n748), .D(pps_counter[2]), .Z(n759));
    defparam i1_4_lut_adj_3.INIT = "0x8000";
    (* lut_function="(A (B (C (D))))" *) LUT4 i1_4_lut_adj_4 (.A(n757), .B(pps_counter[8]), 
            .C(n754), .D(pps_counter[15]), .Z(n760));
    defparam i1_4_lut_adj_4.INIT = "0x8000";
    (* lut_function="(!(((C+!(D))+!B)+!A))" *) LUT4 i1_4_lut_adj_5 (.A(n766), 
            .B(n765), .C(pps_counter[20]), .D(pps_counter[19]), .Z(n768));
    defparam i1_4_lut_adj_5.INIT = "0x0800";
    FA2 pps_counter_55_add_4_19 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[17]), 
        .D0(n493), .CI0(n493), .A1(GND_net), .B1(GND_net), .C1(pps_counter[18]), 
        .D1(n1106), .CI1(n1106), .CO0(n1106), .CO1(n495), .S0(n109[17]), 
        .S1(n109[18]));
    defparam pps_counter_55_add_4_19.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_19.INIT1 = "0xc33c";
    (* lut_function="(A ((C (D))+!B)+!A !(B))" *) LUT4 i1_4_lut_adj_6 (.A(n768), 
            .B(enable), .C(n760), .D(n759), .Z(n195));
    defparam i1_4_lut_adj_6.INIT = "0xb333";
    FA2 pps_counter_55_add_4_17 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[15]), 
        .D0(n491), .CI0(n491), .A1(GND_net), .B1(GND_net), .C1(pps_counter[16]), 
        .D1(n1103), .CI1(n1103), .CO0(n1103), .CO1(n493), .S0(n109[15]), 
        .S1(n109[16]));
    defparam pps_counter_55_add_4_17.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_17.INIT1 = "0xc33c";
    (* lut_function="(!(A))" *) LUT4 i34_1_lut (.A(\g_clk_sdr.clk_toggle ), 
            .Z(\g_clk_sdr.clk_toggle_N_31 ));
    defparam i34_1_lut.INIT = "0x5555";
    FA2 pps_counter_55_add_4_1 (.A0(GND_net), .B0(GND_net), .C0(GND_net), 
        .A1(GND_net), .B1(VCC_net), .C1(pps_counter[0]), .D1(n1079), 
        .CI1(n1079), .CO0(n1079), .CO1(n477), .S1(n109[0]));
    defparam pps_counter_55_add_4_1.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_1.INIT1 = "0xc33c";
    FA2 pps_counter_55_add_4_27 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[25]), 
        .D0(n501), .CI0(n501), .A1(GND_net), .B1(GND_net), .C1(GND_net), 
        .D1(n1118), .CI1(n1118), .CO0(n1118), .S0(n109[25]));
    defparam pps_counter_55_add_4_27.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_27.INIT1 = "0xc33c";
    (* lut_function="(A+(B))" *) LUT4 i584_2_lut (.A(sync_counter[0]), .B(sync_done), 
            .Z(n816));
    defparam i584_2_lut.INIT = "0xeeee";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i24 (.D(n109[24]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[24]));
    defparam pps_counter_55__i24.REGSET = "RESET";
    defparam pps_counter_55__i24.SRMODE = "CE_OVER_LSR";
    IB CLK_IN_pad (.I(CLK_IN), .O(CLK_IN_c));
    FA2 pps_counter_55_add_4_25 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[23]), 
        .D0(n499), .CI0(n499), .A1(GND_net), .B1(GND_net), .C1(pps_counter[24]), 
        .D1(n1115), .CI1(n1115), .CO0(n1115), .CO1(n501), .S0(n109[23]), 
        .S1(n109[24]));
    defparam pps_counter_55_add_4_25.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_25.INIT1 = "0xc33c";
    FA2 pps_counter_55_add_4_23 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[21]), 
        .D0(n497), .CI0(n497), .A1(GND_net), .B1(GND_net), .C1(pps_counter[22]), 
        .D1(n1112), .CI1(n1112), .CO0(n1112), .CO1(n499), .S0(n109[21]), 
        .S1(n109[22]));
    defparam pps_counter_55_add_4_23.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_23.INIT1 = "0xc33c";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i23 (.D(n109[23]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[23]));
    defparam pps_counter_55__i23.REGSET = "RESET";
    defparam pps_counter_55__i23.SRMODE = "CE_OVER_LSR";
    FD1P3XZ \g_clk_sdr.clk_toggle_c  (.D(\g_clk_sdr.clk_toggle_N_31 ), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(GND_net), .Q(\g_clk_sdr.clk_toggle ));
    defparam \g_clk_sdr.clk_toggle_c .REGSET = "RESET";
    defparam \g_clk_sdr.clk_toggle_c .SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i22 (.D(n109[22]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[22]));
    defparam pps_counter_55__i22.REGSET = "RESET";
    defparam pps_counter_55__i22.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i21 (.D(n109[21]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[21]));
    defparam pps_counter_55__i21.REGSET = "RESET";
    defparam pps_counter_55__i21.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i20 (.D(n109[20]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[20]));
    defparam pps_counter_55__i20.REGSET = "RESET";
    defparam pps_counter_55__i20.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i19 (.D(n109[19]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[19]));
    defparam pps_counter_55__i19.REGSET = "RESET";
    defparam pps_counter_55__i19.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i18 (.D(n109[18]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[18]));
    defparam pps_counter_55__i18.REGSET = "RESET";
    defparam pps_counter_55__i18.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i17 (.D(n109[17]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[17]));
    defparam pps_counter_55__i17.REGSET = "RESET";
    defparam pps_counter_55__i17.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i16 (.D(n109[16]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[16]));
    defparam pps_counter_55__i16.REGSET = "RESET";
    defparam pps_counter_55__i16.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i15 (.D(n109[15]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[15]));
    defparam pps_counter_55__i15.REGSET = "RESET";
    defparam pps_counter_55__i15.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i14 (.D(n109[14]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[14]));
    defparam pps_counter_55__i14.REGSET = "RESET";
    defparam pps_counter_55__i14.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i13 (.D(n109[13]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[13]));
    defparam pps_counter_55__i13.REGSET = "RESET";
    defparam pps_counter_55__i13.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i12 (.D(n109[12]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[12]));
    defparam pps_counter_55__i12.REGSET = "RESET";
    defparam pps_counter_55__i12.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i11 (.D(n109[11]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[11]));
    defparam pps_counter_55__i11.REGSET = "RESET";
    defparam pps_counter_55__i11.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i10 (.D(n109[10]), 
            .SP(VCC_net), .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[10]));
    defparam pps_counter_55__i10.REGSET = "RESET";
    defparam pps_counter_55__i10.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i9 (.D(n109[9]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[9]));
    defparam pps_counter_55__i9.REGSET = "RESET";
    defparam pps_counter_55__i9.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i8 (.D(n109[8]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[8]));
    defparam pps_counter_55__i8.REGSET = "RESET";
    defparam pps_counter_55__i8.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i7 (.D(n109[7]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[7]));
    defparam pps_counter_55__i7.REGSET = "RESET";
    defparam pps_counter_55__i7.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i6 (.D(n109[6]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[6]));
    defparam pps_counter_55__i6.REGSET = "RESET";
    defparam pps_counter_55__i6.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i5 (.D(n109[5]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[5]));
    defparam pps_counter_55__i5.REGSET = "RESET";
    defparam pps_counter_55__i5.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i4 (.D(n109[4]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[4]));
    defparam pps_counter_55__i4.REGSET = "RESET";
    defparam pps_counter_55__i4.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i3 (.D(n109[3]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[3]));
    defparam pps_counter_55__i3.REGSET = "RESET";
    defparam pps_counter_55__i3.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i2 (.D(n109[2]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[2]));
    defparam pps_counter_55__i2.REGSET = "RESET";
    defparam pps_counter_55__i2.SRMODE = "CE_OVER_LSR";
    (* syn_use_carry_chain=1 *) FD1P3XZ pps_counter_55__i1 (.D(n109[1]), .SP(VCC_net), 
            .CK(CLK_IN_c), .SR(n195), .Q(pps_counter[1]));
    defparam pps_counter_55__i1.REGSET = "RESET";
    defparam pps_counter_55__i1.SRMODE = "CE_OVER_LSR";
    FD1P3XZ enable_sync_i1 (.D(enable_sync[0]), .SP(VCC_net), .CK(CLK_IN_c), 
            .SR(GND_net), .Q(enable));
    defparam enable_sync_i1.REGSET = "RESET";
    defparam enable_sync_i1.SRMODE = "CE_OVER_LSR";
    FD1P3XZ \sync_counter[0]  (.D(n370), .SP(VCC_net), .CK(CLK_IN_c), 
            .SR(GND_net), .Q(sync_counter[0]));
    defparam \sync_counter[0] .REGSET = "RESET";
    defparam \sync_counter[0] .SRMODE = "CE_OVER_LSR";
    FD1P3XZ sync_reg_c (.D(n712), .SP(VCC_net), .CK(CLK_IN_c), .SR(GND_net), 
            .Q(sync_reg));
    defparam sync_reg_c.REGSET = "RESET";
    defparam sync_reg_c.SRMODE = "CE_OVER_LSR";
    FA2 pps_counter_55_add_4_13 (.A0(GND_net), .B0(GND_net), .C0(pps_counter[11]), 
        .D0(n487), .CI0(n487), .A1(GND_net), .B1(GND_net), .C1(pps_counter[12]), 
        .D1(n1097), .CI1(n1097), .CO0(n1097), .CO1(n489), .S0(n109[11]), 
        .S1(n109[12]));
    defparam pps_counter_55_add_4_13.INIT0 = "0xc33c";
    defparam pps_counter_55_add_4_13.INIT1 = "0xc33c";
    FD1P3XZ sync_done_c (.D(n816), .SP(VCC_net), .CK(CLK_IN_c), .SR(n8), 
            .Q(sync_done));
    defparam sync_done_c.REGSET = "RESET";
    defparam sync_done_c.SRMODE = "CE_OVER_LSR";
    FD1P3XZ pps_reg_c (.D(n730), .SP(VCC_net), .CK(CLK_IN_c), .SR(n711), 
            .Q(pps_reg));
    defparam pps_reg_c.REGSET = "RESET";
    defparam pps_reg_c.SRMODE = "CE_OVER_LSR";
    VLO i1 (.Z(GND_net));
    (* lut_function="(A+(B+((D)+!C)))" *) LUT4 i1_3_lut_4_lut_4_lut (.A(pps_counter[23]), 
            .B(pps_counter[24]), .C(enable), .D(pps_counter[25]), .Z(n711));
    defparam i1_3_lut_4_lut_4_lut.INIT = "0xffef";
    (* lut_function="(!((B+(C))+!A))" *) LUT4 i1_2_lut_3_lut (.A(enable), 
            .B(sync_counter[0]), .C(sync_done), .Z(n712));
    defparam i1_2_lut_3_lut.INIT = "0x0202";
    
endmodule
